.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.pub-cache/
.pub/
.vscode/*.log
build/
coverage/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
*.iml
*.lock
*.log
*.swp
pubspec.lock
